# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
*.code-workspace

# Node (caso usem alguma ferramenta futura, ex: live-server via npm)
node_modules/
package-lock.json

# Arquivos temporários
*.log
*.tmp
